{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroTagBundle::macros.html.twig' as tag %}

{% block navButtons %}
    {% if canHaveSubtask and resource_granted('CREATE', entity) %}
        {{ UI.button({
            'path' : path('bug_tracker.issue_subtask_create', { id: entity.id }),
            'label': 'ap.bug_tracker.button.create_subtask'|trans
        }) }}
    {% endif %}

    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('bug_tracker.issue_update', { id: entity.id }),
            'entity_label': 'ap.bugtracker.issue.entity_label'|trans
        }) }}
    {% endif %}

    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('bug_tracker.issue_index', {'id': entity.id}),
            'dataRedirect': path('bug_tracker.issue_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-issue',
            'dataId': entity.id,
            'entity_label': 'ap.bugtracker.issue.entity_label'|trans,
        }) }}
    {% endif %}

{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('bug_tracker.issue_index'),
    'indexLabel': 'ap.bugtracker.issue.entity_plural_label'|trans,
    'entityTitle': entity.summary
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set data %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">

                    {%- set assignee -%}
                        {%- if entity.assignee -%}
                            {% if resource_granted('oro_user_user_view') %}
                                <a href="{{ path('oro_user_view', {'id': entity.assignee.id}) }}">
                                    {{ entity.assignee|oro_format_name|escape }}
                                </a>
                            {% else %}
                                {{ entity.assignee|oro_format_name|escape }}
                            {% endif %}
                        {%- endif -%}
                    {%- endset -%}
                    {%- set reporter -%}
                        {%- if entity.reporter -%}
                            {% if resource_granted('oro_user_user_view') %}
                                <a href="{{ path('oro_user_view', {'id': entity.reporter.id}) }}">
                                    {{ entity.reporter|oro_format_name|escape }}
                                </a>
                            {% else %}
                                {{ entity.reporter|oro_format_name|escape }}
                            {% endif %}
                        {%- endif -%}
                    {%- endset -%}

                    {% macro linkedIssue(issue) %}
                        <a href="{{ path('bug_tracker.issue_view', {'id': issue.id}) }}">
                            {{ issue.code }} {{ entity.summary }}
                        </a>
                    {% endmacro %}

                    {{ UI.renderProperty('ap.bugtracker.issue.summary.label'|trans, entity.summary) }}
                    {{ UI.renderProperty('ap.bugtracker.issue.status.label'|trans, entity.workflowStep.label) }}
                    {{ UI.renderHtmlProperty('ap.bugtracker.issue.reporter.label'|trans, reporter) }}
                    {{ UI.renderHtmlProperty('ap.bugtracker.issue.assignee.label'|trans, assignee) }}
                    {{ UI.renderProperty('ap.bugtracker.issue.description.label'|trans, entity.description) }}
                    {{ UI.renderProperty('ap.bugtracker.issue.priority.label'|trans, entity.priority.label|trans) }}
                    {%- if entity.resolution -%}
                        {{ UI.renderProperty('ap.bugtracker.issue.resolution.label'|trans, entity.resolution.label|trans) }}
                    {%- endif -%}
                    {{ UI.renderProperty('ap.bugtracker.issue.type.label'|trans, entity.type|trans) }}

                    {%- if resource_granted('oro_tag_view') -%}
                        {{ UI.renderHtmlProperty('oro.tag.entity_plural_label'|trans, tag.renderView(entity)) }}
                    {%- endif -%}

                    {%- if entity.parentIssue -%}
                        {%- set parentIssue -%}
                            {{ _self.linkedIssue(entity.parentIssue) }}
                        {%- endset -%}
                        {{ UI.renderHtmlProperty('ap.bugtracker.issue.parent.label'|trans, parentIssue) }}
                    {%- endif -%}

                </div>
            </div>
        </div>
    {% endset %}
    {% set dataBlocks = [{
        'title': 'ap.bugtracker.issue.entity_plural_label'|trans,
        'class': 'active',
        'subblocks': [
            { 'data' : [data] }
        ]
    }] %}

    {% set id = 'issueView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}

